<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes Directos</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

        *{
            margin: 0;
            padding: 0;
        }
        body{
            background: #fafafa;
        }

        hi, h2, h3, p, small{
            font-family: 'Roboto', sans-serif;
        }
        .div_main{
            width: 60%;
            margin: 50px auto;
        }
    </style>
</head>
<body>
    <div class="div_main">
        {% block content  %}
        {% endblock %}
    </div>

</body>
</html>