<!DOCTYPE html>
<html lang="en">
     
    {% for p in post %}


        <div class = "body">

            <h1>{{ p.titulo|safe }}</h1>

            <h2>{{ p.subtitulo|safe }}</h2>

            <h4>{{ p.fecha|safe}}</h4>
            
            <h4>{{ p.user|safe}}</h4>

            <img src="https://blog.peoplenext.com/hubfs/Imported_Blog_Media/Liderando-en-la-nueva-era-de-los-RRHH_imgdest-2.jpg" width="400" height="305" alt="" class="fl"><img>

            {{ p.cuerpo|safe }}

            {{ p.autor|safe }}  

    

        <form action = "" method="POST">{% csrf_token %}
            
            <table>
                {{ comment_form.as_table }}
            </table>
                
            <button type="submit" class="btn btn-primary  btn-lg">Comentar</button>
        </form>
    {% endfor %}  
        
        </div>

    
    
</html>